@model  InvitesViewModel

@{ 
      ViewBag.Title = "Invites";
}

<h3>Invites</h3>

<div class="row">
    <form method="post">

        <div class="form-group">
            <label class="control-label" asp-for="@Model.EmailAddress"></label>
            <input class="form-control" asp-for="@Model.EmailAddress" />
            <span asp-validation-for="@Model.EmailAddress" class="text-danger"></span>
        </div>

        <input type="hidden" asp-for="ProjectId" value="@Model.ProjectId"/>

        <div class="form-group">
            <input type="submit" value="Submit" class="btn btn-primary" />
        </div>

    </form>
</div>