@model AssignMemberViewModel 

@{ 
      ViewBag.Title = "Assign Members to Bug Report";
}

<h1>Assign members to bug report</h1>

<div>
    <input id="Search" type="text" class="typeahead" placeholder="Add User" autocomplete="off" spellcheck="false"/>
</div>

<hr />

<h3><strong>Assigned Members</strong></h3>

<h4>WIP - PLACEHOLDER</h4>