@model CreateBugReportViewModel

@{
    ViewBag.Title = "Create Bug Report";
}

<h1>Create Bug Report</h1>

<form asp-controller="BugReport" asp-action="CreateReport" method="post" class="mt-3">

    <div class="form-group row">
        <label asp-for="Title" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Title" class="form-control" placeholder="Title" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="ProgramBehaviour" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <textarea asp-for="ProgramBehaviour" class="form-control" placeholder="Program behaviour" rows="4"></textarea>
            <span asp-validation-for="ProgramBehaviour" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="DetailsToReproduce" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <textarea asp-for="DetailsToReproduce" class="form-control" placeholder="Details to reproduce" rows="4"></textarea>
            <span asp-validation-for="DetailsToReproduce" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Severity" class="col-sm-2 col-form-label"></label>
        <div class="input-group col-sm-10">
            <select class="custom-select" id="dropdownSeverity" asp-for="Severity">
                <option selected>1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Importance" class="col-sm-2 col-form-label"></label>
        <div class="input-group col-sm-10">
            <select class="custom-select" id="dropdownImportance" asp-for="Importance">
                <option selected>1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>
    </div>

    @* Hidden -- checkbox *@
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="hiddenCheckbox" asp-for="Hidden">
        <label class="form-check-label" for="hiddenCheckbox" style="user-select: none">Private</label>
    </div>

    @*  -- WIP !!
        person reporting - implement user profiles
        add attachments
    *@

    <div class="subscription-check">
        <input type="checkbox" class="form-check-input" checked="checked" id="subscribeCheckbox" asp-for="Subscribe">
        <label class="form-check-label noselect" for="subscribeCheckbox" style="user-select: none">Subscribe</label>
    </div>

    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Create Bug Report</button>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-10">
            <a class="btn btn-primary" href='javascript:history.go(-1)'>Cancel</a>
        </div>
    </div>

</form>