@model EditMilestoneViewModel

@{
    ViewBag.Title = "Edit Milestone";
}

<h1>Edit Milestone</h1>

<div>
    <form asp-controller="Milestone" asp-action="Edit" method="post" class="m-3">

        <fieldset>

            <!-- Hidden input fields -->
            <input type="hidden" asp-for="Milestone.MilestoneId" />
            <input type="hidden" asp-for="Milestone.CreationTime" />
            <input type="hidden" asp-for="Milestone.ProjectId" />

            <!-- Title -->
            <div class="form-group">
                <label asp-for="Milestone.Title" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="Milestone.Title" class="form-control" placeholder="Enter Title..." />
                    <span asp-validation-for="Milestone.Title" class="text-danger"></span>
                </div>
            </div>

            <!-- Description -->
            <div class="form-group">
                <label asp-for="Milestone.Description" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="Milestone.Description" class="form-control" placeholder="Enter Description..." />
                    <span asp-validation-for="Milestone.Description" class="text-danger"></span>
                </div>
            </div>

            <!-- Due Date -- Date Picker -->
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Due Date: </label>
                <input id="datetimepickerRangeBegin" type="date" asp-for="Milestone.DueDate" />
            </div>

            <hr />

            <h2>Bug Reports</h2>

            @await Component.InvokeAsync("BugReportSearchSelector", new { ProjectId = Model.ProjectId, MilestoneBugReportEntries = Model.MilestoneBugReportEntries })

            <hr />

            <!-- Submitting form & Cancel -->
            <div class="row mr-3">
                <div class="form-group row mr-1">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-10">
                        <a class="btn btn-primary" href='javascript:history.go(-1)'>Cancel</a>
                    </div>
                </div>
            </div>

        </fieldset>
    </form>
</div>

