@model NewMilestoneViewModel

@{ 
      ViewBag.Title = "New Milestone";
}

<h1>New Milestone</h1>

<div>
    <form asp-controller="Milestone" asp-action="New" method="post" class="m-3">

        <div class="form-group row">
            <label asp-for="Title" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Title" class="form-control" placeholder="Title" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Description" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Description" class="form-control" placeholder="Title" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>

        <!-- Date picker -->
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Due Date: </label>
            <input id="datetimepickerRangeBegin" type="date" asp-for="@Model.DueDate" />
        </div>

        <!-- Hidden input fields -->
        <input type="hidden" asp-for="@Model.CreationTime" />
        <input type="hidden" asp-for="@Model.ProjectId"/>

        <!-- Buttons -->
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-10">
                <a class="btn btn-primary" href='javascript:history.go(-1)'>Cancel</a>
            </div>
        </div>

    </form>
</div>