@model MilestoneOverviewViewModel

@{
    ViewBag.Title = "Milestone Overview";
}

<h1>Milestone: @Model.Milestone.Title</h1>
<h2>Due: @Model.Milestone.DueDate</h2>
<h2>@Model.Milestone.Description</h2>

<a asp-controller="Milestone" asp-action="Edit" asp-route-milestoneId="@Model.Milestone.MilestoneId" class="btn btn-primary">Edit</a>

<hr />

<h3>Bug Reports</h3>

@await Component.InvokeAsync("BugReportSearchSelector", new { ProjectId = Model.Milestone.ProjectId, MilestoneBugReportEntries = Model.MilestoneBugReportEntries })
