@model IEnumerable<Project>

@{ 
      ViewBag.Title = "Projects";
}

<h1>Projects View - WIP</h1>

<a asp-controller="projects" asp-action="createproject" class="btn btn-primary">Create New Project</a>