@model ForgotPasswordViewModel

@{
    ViewBag.Title = "Forgot Password";
}

<h1>Forgot Password</h1>

<div class="row">
    <form method="post" asp-action="ForgotPassword">

        <div class="form-group">
            <label class="control-label" asp-for="@Model.Email"></label>
            <input class="form-control" asp-for="@Model.Email" />
            <span asp-validation-for="@Model.Email" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Submit" class="btn btn-primary" />
        </div>

    </form>
</div>
